{{#if firstName}}
<header>
  <nav class="navbar navbar-expand-xl bg-light px-2">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <i class="bi bi-list"></i>
      </button>
      <p style="margin-bottom: 0px;">
        <strong>Bienvenido,{{firstName}}. Rol <span id="role">{{role}}</span>
          <span id="email" class="userEmail">{{email}}
          </span>
        </strong>
      </p>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasNavbarLabel"><strong>Epikus Cake</strong> <a
              href="/api/sessions/currentUser" class="btn btn-light ms-3 me-3"><i class="bi bi-person-circle"></i></a>
            <a href="/api/sessions/logout" class="btn btn-secondary btn-sm btnLogin ms-1 me-4">
              <i class="bi bi-box-arrow-left me-2"></i>
            </a>
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex justify-content-xl-evenly">
          <div class="offcanvas-body-padreNav">
            <ul class="navbar-nav flex-grow-1 pe-3 gap-xl-5">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/test-chat">Chat Box</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
              </li>
              <li class="nav-item nav__contacto">
                <a class="nav-link" href="/products-admin">Product Admin</a>
              </li>
              <li class="nav-item nav__info">
                <a class="nav-link" href="/purchases">Mis compras</a>
              </li>
              <li class="nav-item ">
                <a href="/api/sessions/logout" class="btn btn-danger btn-sm mt-2 btnLogin deleteIconResponsive">
                  <i class="bi bi-box-arrow-left "></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  {{/if}}
  <div class="title h-25">
    <h1 class="text-center">{{{title}}}</h1>
    <hr />
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col g-0">
        <div class="cartContainer">
          <p class="cartId">{{cartId}}</p>
          {{#if plainCart.length}}
            {{#each plainCart}}
              <div class="cartItem">
                {{!-- <img
                  class="cartImg"
                  src=".{{this.product.thumbnail}}"
                  alt="{{this.product.title}}"
                /> --}}
                <div class="cartHead">
                  <p class="titles titulo">Titulo</p>
                  <p class="content">{{this.product.title}}</p>
                </div>
                <div class="cartHead description">
                  <p class="titles">Descripcion</p>
                  <p class="content">{{this.product.description}}</p>
                </div>
                <div class="cartHead">
                  <p class="titles">Cantidad</p>
                  <div class="cartQuant">
                    <p id="cantidad" class="content quant">{{this.quantity}}</p>
                    <div class="cartQuantController">
                      <button class="butonController">+</button>
                      <button class="butonController">-</button>
                    </div>
                  </div>
                </div>
                <div class="cartHead">
                  <p class="titles">Precio</p>
                  <p id="precio" class="content">$ {{this.product.price}}</p>
                </div>
                <div class="cartHead">
                  <p class="titles">Subtotal</p>
                  <p id="subtotal" class="content"></p>
                </div>
                <button
                style="display: none;"
                  class="butonDelete bi bi-trash"
                  {{!-- id="carrito-acciones-vaciar" --}}
                  data-product-id="{{this.product._id}}"
                  data-cart-id="{{cartId}}"
                ></button>
              </div>
            {{/each}}
          {{else}}
            <div class="alert alert-danger" role="alert">
              <i class="bi bi-exclamation-triangle"></i>
              Tu carrito está vacío. Por favor, añade productos para continuar.
            </div>
            <button class="btn btn-secondary mt-2 me-3">
              <a
                class="text-white"
                href="/products"
                style="text-decoration: none;"
              >
                Ver Productos
              </a>
            </button>
          {{/if}}
          {{#if plainCart.length}}
            <div class="carrito-acciones" id="carrito-acciones">
              <div class="carrito-acciones-izquierda">
                <button class="btn btn-secondary mt-2 me-3">
                  <a
                    class="text-white"
                    href="/products"
                    style="text-decoration: none;"
                  >
                    <i class="bi bi-cart text-white me-2"></i>
                    Seguir Comprando
                  </a>
                </button>
                <button
                  class="btn btn-outline-danger mt-2"
                  id="carrito-acciones-vaciar"
                >
                  <i class="bi bi-trash"></i>
                  Vaciar Carrito
                </button>
              </div>
              <div class="carrito-acciones-derecha">
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Large button group"
                >
                  <button type="button" class="btn btn-warning"><p
                      class="totalCart mt-2"
                    >Total: $
                      <span></span>
                      </p></button>
                  <a
                    href="#"
                    class="btn btn-success fw-bold text-center buttonShop"
                    id="carrito-acciones-comprar"
                  ><i class="bi bi-check-circle fs-4 me-1"></i>
                    Comprar</a>
                </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>