<div class="container-fluid">
  <div class="row">
    <div class="col g-0">
      <div class="bg-image">
        <div class="contenedorTituloPrincipal">
          {{!-- <a href="/"><img src="/images/logo.png" alt="logo" style="width: 300px;" /></a> --}}
          <h2 class="tituloPrincipal mt-2">Epikus Cake</h2>

          {{#if errorMsg}}
          <div class="d-flex justify-content-center align-items-center mt-5 p-3">
            <img src="/images/error.png" class="me-3" alt="error" width="50px" />
            <h4 class="text-white mt-1" style="text-transform: uppercase;">{{errorMsg}}</h4>
          </div>

          <div class="container-back d-flex justify-content-center">
            <a href="/" class="btn btn-secondary text-decoration-none col-1 "><i
                class="bi bi-box-arrow-in-left me-2"
              ></i></a>
          </div>

          {{else if isLogin}}
          <div class="d-flex justify-content-center align-items-center mt-5 p-3">
            <img src="/images/error.png" class="me-3" alt="error" width="50px" />
            <h4 class="text-white mt-1" style="text-transform: uppercase;">{{isLogin}}</h4>
          </div>

          <div class="container-back d-flex justify-content-center">
            <a href="/" class="btn btn-secondary text-decoration-none col-1 "><i
                class="bi bi-box-arrow-in-left me-2"
              ></i></a>
          </div>
          {{else if isAdmin}}
          <div class="d-flex justify-content-center align-items-center mt-5 p-3">
            <img src="/images/error.png" class="me-3" alt="error" width="50px" />
            <h4 class="text-white mt-1" style="text-transform: uppercase;">{{isAdmin}}</h4>
          </div>

          <div class="container-back d-flex justify-content-center">
            <a href="/home" class="btn btn-secondary text-decoration-none col-1 "><i
                class="bi bi-box-arrow-in-left me-2"
              ></i></a>
          </div>

          {{else if isUser}}
          <div class="d-flex justify-content-center align-items-center mt-5 p-3">
            <img src="/images/error.png" class="me-3" alt="error" width="50px" />
            <h4 class="text-white mt-1" style="text-transform: uppercase;">{{isUser}}</h4>
          </div>

          <div class="container-back d-flex justify-content-center">
            <a href="/home" class="btn btn-secondary text-decoration-none col-1 "><i
                class="bi bi-box-arrow-in-left me-2"
              ></i></a>
          </div>
          {{else if notCart}}
          <div class="d-flex justify-content-center align-items-center mt-5 p-3">
            <img src="/images/error.png" class="me-3" alt="error" width="50px" />
            <h4 class="text-white mt-1" style="text-transform: uppercase;">{{notCart}}</h4>
          </div>

          <div class="container-back d-flex justify-content-center">
            <a href="/home" class="btn btn-secondary text-decoration-none col-1 "><i
                class="bi bi-box-arrow-in-left me-2"
              ></i></a>
          </div>
          {{else if errorId}}
          <div class="d-flex justify-content-center align-items-center mt-5 p-3">
            <img src="/images/error.png" class="me-3" alt="error" width="50px" />
            <h4 class="text-white mt-1" style="text-transform: uppercase;">{{errorId}}</h4>
          </div>

          <div class="container-back d-flex justify-content-center">
            <a href="/home" class="btn btn-secondary text-decoration-none col-1 "><i
                class="bi bi-box-arrow-in-left me-2"
              ></i></a>
          </div>
          {{else if notFound}}
          <div class="d-flex justify-content-center align-items-center mt-5 p-3">
            <img src="/images/error.png" class="me-3" alt="error" width="50px" />
            <h4 class="text-white mt-1" style="text-transform: uppercase;">{{notFound}}</h4>
          </div>

          <div class="container-back d-flex justify-content-center">
            <a href="/" class="btn btn-secondary text-decoration-none col-1 "><i
                class="bi bi-box-arrow-in-left me-2"
              ></i></a>
          </div>
          {{else if emailSend}}
          <div class="d-flex justify-content-center align-items-center mt-5 p-3">
            <img src="/images/checked.png" class="me-3" alt="error" width="50px" />
            <h4 class="text-white mt-1" style="text-transform: uppercase;">{{emailSend}}</h4>
          </div>

          <div class="container-back d-flex justify-content-center">
            <a href="/" class="btn btn-secondary text-decoration-none col-1 "><i
                class="bi bi-box-arrow-in-left me-2"
              ></i></a>
          </div>
          {{else if noShipping}}
          <div class="d-flex justify-content-center align-items-center mt-5 p-3">
            <img src="/images/error.png" class="me-3" alt="error" width="50px" />
            <h4 class="text-white mt-1" style="text-transform: uppercase;">{{noShipping}}</h4>
          </div>

          <div class="container-back d-flex justify-content-center">
            <a href="/" class="btn btn-secondary text-decoration-none col-1 "><i
                class="bi bi-box-arrow-in-left me-2"
              ></i></a>
          </div>
          {{else if changePassword}}
          <div class="d-flex justify-content-center align-items-center mt-5 p-3">
            <img src="/images/checked.png" class="me-3" alt="error" width="50px" />
            <h4 class="text-white mt-1" style="text-transform: uppercase;">{{changePassword}}</h4>
          </div>

          <div class="container-back d-flex justify-content-center">
            <a href="/" class="btn btn-secondary text-decoration-none col-1 "><i
                class="bi bi-box-arrow-in-left me-2"
              ></i></a>
          </div>
          {{else}}
          <div class="d-flex justify-content-center align-items-center mt-5 p-3">
            <img src="/images/error.png" class="me-3" alt="error" width="50px" />
            <h4 class="text-white mt-1" style="text-transform: uppercase;">ERROR DE AUTENTICACION</h4>
          </div>
          <div class="container-back d-flex justify-content-center">
            <a href="/" class="btn btn-secondary text-decoration-none col-1 "><i
                class="bi bi-box-arrow-in-left me-2"
              ></i></a>
          </div>
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>