<header>
  <nav class="navbar navbar-expand-xl bg-light px-2">
    <div class="container-fluid">
      {{#if firstName}}
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <i class="bi bi-list"></i>
      </button>
      <p style="margin-bottom: 0px;"><strong>Bienvenido, {{firstName}}. Rol <span id="role"
            data-user="{{email}}">{{role}}</span></strong></p>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasNavbarLabel"><strong>Epikus Cake</strong> <a
              href="/api/sessions/currentUser" class="btn btn-light ms-3 me-3"><i class="bi bi-person-circle"></i></a>
            <a href="/api/sessions/logout" class="btn btn-secondary btn-sm btnLogin ms-1 me-4">
              <i class="bi bi-box-arrow-left me-2"></i>
            </a>
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex justify-content-xl-evenly">
          <div class="offcanvas-body-padreNav">
            <ul class="navbar-nav flex-grow-1 pe-3 gap-xl-5">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/test-chat">Chat Box</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
              </li>
              <li class="nav-item nav__contacto">
                <a class="nav-link" href="/products-admin">Product Admin</a>
              </li>
              <li class="nav-item nav__info">
                <a class="nav-link" href="/purchases">Mis compras</a>
              </li>
              <li class="nav-item ">
                <a href="/api/sessions/logout" class="btn btn-danger btn-sm mt-2 btnLogin deleteIconResponsive">
                  <i class="bi bi-box-arrow-left "></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
  </nav>
</header>
<main id="main-products-admin">
  <div class="title">
    {{!-- <a href="/home"><img src="./images/logo.png" class="logo" alt="" /></a> --}}
    <h1 class="text-center m-3">{{{title}}}</h1>
    <hr />
  </div>
  <div class="container mb-5">
    <div class="row">
      <div class="col g-0">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button id="btnAddProduct" class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i
                  class="bi bi-database-add me-2"></i>
                Agregar Producto
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <form id="addProductForm">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control border-0 border-bottom border-dark" id="input-title"
                          placeholder="Nombre" />
                        <label for="input-title"><i class="bi bi-pencil-square me-1"></i>Nombre</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-floating">
                        <input type="text" class="form-control border-0 border-bottom border-dark"
                          id="input-description" placeholder="Descripcion" />
                        <label for="input-description"><i class="bi bi-file-bar-graph me-1"></i>Descripcion</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control border-0 border-bottom border-dark" id="input-category"
                          placeholder="Categoria" />
                        <label for="input-category"><i class="bi bi-tag me-1"></i>Categoria</label>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-floating mb-3">
                        <input type="number" class="form-control border-0 border-bottom border-dark" id="input-price"
                          placeholder="Precio" />
                        <label for="input-price"><i class="bi bi-currency-dollar me-1"></i>Precio</label>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-floating">
                        <input type="text" class="form-control border-0 border-bottom border-dark" id="input-thumbnail"
                          placeholder="Imagen" />
                        <label for="input-thumbnail"><i class="bi bi-card-image me-1"></i>Imagen</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-floating mb-3">
                        <input type="number" class="form-control border-0 border-bottom border-dark" id="input-code"
                          placeholder="Codigo" />
                        <label for="input-code"><i class="bi bi-qr-code me-1"></i>Codigo</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-floating">
                        <input type="number" class="form-control border-0 border-bottom border-dark" id="input-stock"
                          placeholder="Stock" />
                        <label for="input-stock"><i class="bi bi-list-ol me-1"></i>Stock</label>
                      </div>
                    </div>
                  </div>
                  <div class="btnAdd">
                    <button type="submit" id="btnSubmit" class="btn btn-primary"><i
                        class="bi bi-send-plus-fill me-2"></i>Crear Producto</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col g-0 d-flex flex-wrap justify-content-center gap-5" id="dinamic-list">
        {{#each products}}
        <div class="card" style="width: 15rem; background: rgb(242 174 216 / 92%);">
          <img src={{this.thumbnail}} class="card-img" alt="{{this.title}}" />
          <div class="card-body text-center">
            <h6 class="card-id">ID: {{this.id}}</h6>
            <div class="card-title">
              <h4 class="m-0">{{this.title}}</h4>
            </div>
            <div>
              <h6 class="m-0">{{this.category}}</h6>
            </div>
            <div class="card-description">
              <p class="m-0">{{this.description}}</p>
            </div>
            <div class="card-price">
              <p class="m-0">$ {{this.price}}.-</p>
            </div>
            <div class="card-item-detail">
              <p class="code m-0"><b>Code:</b> {{this.code}}</p>
              <p class="stock m-0"><b>Stock:</b> {{this.stock}}</p>
            </div>
            <div class="btnContainer">
              <a href="#" class="btn btn-primary btn-sm btnEdit" data-id={{this.id}} data-bs-toggle="modal"
                data-bs-target="#exampleModal" onclick="setModalTitle(this.getAttribute('data-id'))"><i
                  class="bi bi-pencil me-1"></i>Editar</a>
              <a href="#" class="btn btn-danger btn-sm ms-2 btnDelete" data-id={{this.id}}><i
                  class="bi bi-trash3 me-1"></i>Eliminar</a>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" id="modalHeader">
                <h2 class="modal-title fs-5" id="exampleModalLabel">Editar Producto
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="addProductForm">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control border-0 border-bottom border-dark" id="input-editTitle"
                          placeholder="Nombre" />
                        <label for="input-title"><i class="bi bi-pencil-square me-1"></i>Nombre</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-floating">
                        <input type="text" class="form-control border-0 border-bottom border-dark"
                          id="input-editDescription" placeholder="Descripcion" />
                        <label for="input-description"><i class="bi bi-file-bar-graph me-1"></i>Descripcion</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control border-0 border-bottom border-dark"
                          id="input-editCategory" placeholder="Categoria" />
                        <label for="input-categoria"><i class="bi bi-tag me-1"></i>Categoria</label>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-floating mb-3">
                        <input type="number" class="form-control border-0 border-bottom border-dark"
                          id="input-editPrice" placeholder="Precio" />
                        <label for="input-price"><i class="bi bi-currency-dollar me-1"></i>Precio</label>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-floating">
                        <input type="text" class="form-control border-0 border-bottom border-dark"
                          id="input-editThumbnail" placeholder="Imagen" />
                        <label for="input-thumbnail"><i class="bi bi-card-image me-1"></i>Imagen</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-floating mb-3">
                        <input type="number" class="form-control border-0 border-bottom border-dark" id="input-editCode"
                          placeholder="Codigo" />
                        <label for="input-code"><i class="bi bi-qr-code me-1"></i>Codigo</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-floating">
                        <input type="number" class="form-control border-0 border-bottom border-dark"
                          id="input-editStock" placeholder="Stock" />
                        <label for="input-stock"><i class="bi bi-list-ol me-1"></i>Stock</label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn-edit" onclick="saveChanges()">Guardar</button>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>