<header>
  <nav class="navbar navbar-expand-xl bg-light px-2">
    <div class="container-fluid">
      {{#if firstName}}
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <i class="bi bi-list"></i>
      </button>
      <p style="margin-bottom: 0px;"><strong>Bienvenido, {{firstName}}. Rol {{role}}</strong></p>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasNavbarLabel"><strong>Epikus Cake</strong> <a
              href="/api/sessions/currentUser" class="btn btn-light ms-3 me-3"><i class="bi bi-person-circle"></i></a>
            <a href="/api/sessions/logout" class="btn btn-secondary btn-sm btnLogin ms-1 me-4">
              <i class="bi bi-box-arrow-left me-2"></i>
            </a>
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex justify-content-xl-evenly">
          <div class="offcanvas-body-padreNav">
            <ul class="navbar-nav flex-grow-1 pe-3 gap-xl-5">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/test-chat">Chat Box</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
              </li>
              <li class="nav-item nav__contacto">
                <a class="nav-link" href="/products-admin">Product Admin</a>
              </li>
              <li class="nav-item nav__info">
                <a class="nav-link" href="/purchases">Mis compras</a>
              </li>
              <li class="nav-item ">
                <a href="/api/sessions/logout" class="btn btn-danger btn-sm mt-2 btnLogin deleteIconResponsive">
                  <i class="bi bi-box-arrow-left "></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
  </nav>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col g-0">
        <div class="bg-image">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">FirstName</th>
                  <th scope="col">LastName</th>
                  <th scope="col">AGE</th>
                  <th scope="col">Ege</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Last Connection</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              {{#each dataParse}}
              <tbody>
                <tr>
                  <td>{{this.id}}</td>
                  <td>{{this.firstName}}</td>
                  <td>{{this.lastName}}</td>
                  <td>{{this.age}}</td>
                  <td>{{this.email}}</td>
                  <td>{{this.role}}</td>
                  <td>{{this.last_connection}}</td>
                  <td>
                    <button class="btn btn-outline-primary btn-sm editar-rol" data-id="{{this.id}}"><i
                        class="bi bi-pen"></i></button>
                    <button class="btn btn btn-outline-danger btn-sm eliminar-usuario" data-id="{{this.id}}"><i
                        class="bi bi-trash3-fill"></i></button>
                  </td>
                </tr>
              </tbody>
              {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>